body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.radio,
.checkbox {
    margin-bottom: 20px;
}

.tableHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/*input::-webkit-input-placeholder {
    color: red !important;
}

input:-moz-placeholder { /* Firefox 18- */
/*color: red !important;
}*/

/*input::-moz-placeholder {*/ /* Firefox 19+ */
/*color: red !important;
}*/

/*input:-ms-input-placeholder {
    color: red !important;
}*/
.hasError::-webkit-input-placeholder {
    color: red;
}

.error {
    font: normal 10px arial;
    padding: 3px;
    margin: 3px;
    background-color: #ffc;
    border: 1px solid #c00;
}

.clickableTRow {
    cursor: pointer;
    padding: 5px;
    margin-right: 170px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f4f0f7;
}

.table-striped > tbody {
    font-family: 'Open Sans',Sans-Serif,Arial;
    font-size: 0.5em;
    line-height: 1.4;
    color: #6a737c;
}

table:hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: AliceBlue !important;
}
